.custom-carousel {
    padding-top: 2.5rem;
}

.banner-img {
    border-radius: .5rem;
}

@media only screen and (max-width: 1399px) {
    .banner-img {
        max-width: 1116px;
        max-height: 328px;
    }
}

@media only screen and (max-width: 1199px) {
    .banner-img {
        max-width: 936px;
        max-height: 275px;
    }
}

@media only screen and (max-width: 991px) {
    .banner-img {
        max-width: 696px;
        max-height: 204px;
    }

    .custom-carousel {
        padding-top: 3rem;
    }
}

@media only screen and (max-width: 767px) {
    .banner-img {
        max-width: 516px;
        max-height: 151px;
    }
}

@media only screen and (max-width: 577px) {
    .banner-img {
        max-width: 370px;
        max-height: 109px;
    }
}